*{
    margin: 0;
    padding: 0;

}

body {
    min-height: 100vh;

    background-color: #f4e4ba;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    min-height: 45vh;
    width: 40vw;
    padding: 2rem;
    border-radius: 0.75rem;

    background-color: white;

}

form {
    margin: 2rem 0 2rem 0;
    
}

form select, button, input {
    width: 100%;
    border-radius: 0.75rem;
    border: none;
    outline: none;
}

form input {
    height: 3rem;
    padding-left: 0.5rem;
    font-size: 1rem;
    border: 1px solid lightgrey;
    
}

.dropdown {
    margin-top: 2rem;

   
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.select-container img{
    height: 1.75rem;
    font-size:0.75 rem;

    object-fit: cover;
}

.select-container {
    width: 6rem;
    padding-left: 0.5rem;
    border-radius: 0.75rem;

    border: 2px solid lightgrey;
 
     display: flex;
    justify-content: space-between;
    align-items: center;

}


.dropdown i {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.select-container  select{
   font-size: 1rem;

}

.msg {
    margin: 2rem 0 2rem o ;

}

form button {
    height: 3rem;
 
    background-color: #af4d98;
    color: white;
    font-size: 1.2rem;
}